<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link href="style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<tr>
    <div th:each="employee : ${employers}">
        <a th:href="@{/employers/{id}(id=${employee.getId()})}"
           th:text="${employee.getId()} + ${employee.getName()} +
                  ${employee.getLastName()} + ${employee.getGender()} +
                    ${employee.getEmail()} + ${employee.getDateOfBirth()}
                    + ${employee.getCountry()}"
        >user</a>
    </div>
<hr/>
<a href="/employers/new">Add new employee</a>
</body>
</html>