<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new employee to bd</title>
</head>
<body>
<form th:method="POST" th:action="@{/employers}" th:object="${employee}">
    <label for="name"> Имя работника: </label>
    <input type="text" th:field="*{name}" id="name" />
    <div style="color:darkred" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" >Name error</div>
    <br/>
    <label for="lastName">Фамилия работника: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="gender">Пол: </label>
    <input type="text" th:field="*{gender}" id="gender"/>
    <br/>
    <label for="email">Электронная почта: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color: darkred" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" >Email error</div>
    <br/>
    <label for="dateOfBirth">Дата рождения: </label>
    <input type="text" th:field="*{dateOfBirth}" id="dateOfBirth"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" >Email error</div>
    <br/>
    <label for="country">Страна: </label>
    <input type="text" th:field="*{country}" id="country"/>
    <br/>
    <input type="submit" value="Добавить">
</form>
</body>
</html>